@font-face {
  font-family: 'Pretendard';
  src:
    local('Pretendard'),
    url('/fonts/Pretendard-Regular.woff2') format('woff2'),
    url('/fonts/Pretendard-Regular.woff') format('woff'),
    url('/fonts/Pretendard-Regular.otf') format('opentype');
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'Pretendard';
  src:
    local('Pretendard'),
    url('/fonts/Pretendard-Medium.woff2') format('woff2'),
    url('/fonts/Pretendard-Medium.woff') format('woff'),
    url('/fonts/Pretendard-Medium.otf') format('opentype');
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: 'Pretendard';
  src:
    local('Pretendard'),
    url('/fonts/Pretendard-SemiBold.woff2') format('woff2'),
    url('/fonts/Pretendard-SemiBold.woff') format('woff'),
    url('/fonts/Pretendard-SemiBold.otf') format('opentype');
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src:
    local('Pretendard'),
    url('/fonts/Pretendard-ExtraBold.woff2') format('woff2'),
    url('/fonts/Pretendard-ExtraBold.woff') format('woff'),
    url('/fonts/Pretendard-ExtraBold.otf') format('opentype');
  font-weight: 800;
  font-display: swap;
}
html {
  font-family:
    'Pretendard',
    -apple-system,
    sans-serif;
  color: #000000;
}
* {
  font-family:
    'Pretendard',
    -apple-system,
    sans-serif;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
